NUXT_SESSION_PASSWORD=

NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000/api/v1
NUXT_PUBLIC_STRAPI_URL=http://localhost:1337/api
NUXT_STRAPI_URL=http://localhost:1337/api
NUXT_STRAPI_TOKEN=

NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
NUXT_OAUTH_FACEBOOK_CLIENT_ID=
NUXT_OAUTH_FACEBOOK_CLIENT_SECRET=
